.venv/
__pycache__/
*.py[cod]

.idea/
.vscode/

outputs/
.DS_Store

data/weibo_cleaned.json
data/微博文本情感分析数据-数据集/

models/Chinese-Emotion-Small/
models/bert-base-cased/

external/EmoAva-main.zip
external/EmoAva/dataset/*
!external/EmoAva/dataset/README.md
external/EmoAva/checkpoints/
external/EmoAva/src/data/
external/EmoAva/resource/

参考文献/**/*.pdf
